.widgetItem {
  position: absolute;
  box-shadow: 0 1px 1px 0 rgba(74, 81, 93, 0.1);
  display: block;
  background: rgba(255, 255, 255, 1);
  border-radius: 3px;
  overflow: hidden;
  box-sizing: border-box;
  margin-top: 3px;
  width: 175px;
  height: 175px;
}

.widgetFileItem {
  background: url("assets/image/folder_bg.png") no-repeat;
  background-size: 100% 100%;
  background-position: center;
  border: none;
}

.widgetItem a {
  text-decoration: none;
  text-align: center;
  display: inline-block;
  vertical-align: middle;
}

.box{
  position: relative;
  width: 100%;
  height: 100%;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.title {
  height: 42px;
  line-height: 42px;
  padding-left: 9px;
  font-size: 16px;
  color: #111111;
}

.defaultArea {}

.defaultArea .iconImg {
  position: absolute;
  width: 40px;
  height: 40px;
  right: 40px;
  bottom: 50px;
  transform: translate(50%, 50%);
}


.widgetItem .content {
  position: relative;
}

.fileIcon {
  background: url("assets/image/file.png") no-repeat;
  background-size: 100% 100%;
  background-position: center;
  margin-left: 10px;
  margin-top: 5px;
  width: 30px;
  height: 30px;
}

.context {
  cursor: pointer;
}

.bottom {
  position: absolute;
  bottom: 0;
  text-align: center;
  display: -webkit-box;
  -webkit-box-align: center;
  -webkit-box-pack: center;
  width: 100%;
}

.fileContext {
  overflow: hidden;
  height: 100px;
  overflow-y: scroll;
}

.fileContext div {
  width: 47px;
  height: 40px;
  background: rgba(184, 194, 200, 1);
  border-radius: 4px;
  border: 1px solid #B8C2C8;
  float: left;
  margin: 0 0 10px 10px;
}

.fileContext div:nth-child(odd) {}

.fileContext div:nth-child(even) {
  opacity: 56.53;
}

.footer {
  display: -webkit-box;
  height: 35px;
  width: 100%;
  -webkit-box-align: center;
  text-align: center;
}

.footer>div {
  cursor: pointer;
  height: 100%;
  display: -webkit-box;
  -webkit-box-flex: 1;
  -webkit-box-align: center;
  -webkit-box-pack: center;
}

.footer>div:hover {
  background: #ccc;
}

.titleCont {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
}

.editCont {
  position: absolute;
  z-index: 1;
  overflow: hidden;
  top: 40px;
  padding: 5px;
  box-sizing: border-box;
  background: #fff;
}

.editBtn {
  display: -webkit-box;
  -webkit-box-pack: center;
  margin: 10px 0;
}

.editBtn :global(.u-button) {
  min-width: 10px !important;
  margin-right: 10px;
  width: 60px;
  height: 32px;
}

.titleEdit {
  position: absolute;
  left: 10px;
  top: 40px;
}

.popCont {
  font-family: '微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight: 700;
  font-style: normal;
  font-size: 16px;
}

.footer {
  display: -webkit-box;
  height: 35px;
  width: 100%;
  -webkit-box-align: center;
  text-align: center;
  position: absolute;
  bottom: 0px;
}

.footer>div {
  cursor: pointer;
  height: 100%;
  display: -webkit-box;
  -webkit-box-flex: 1;
  -webkit-box-align: center;
  -webkit-box-pack: center;
}

.footer>div:hover {
  background: #ccc;
}

.widgetFileItem .fileNum {
  position: absolute;
  right: 8px;
  bottom: 8px;
  color: #fff;
}

.fileTitleRight {
  color: #fff;
}