.wrap{
  /* margin: 0px 15px; */
  background: #fff;
  min-width: 700px;
  min-height: 100%;
  position: relative;
}
.wrap h5{
  font-weight: 600; 
  font-size: 21px;
  font-family: MicrosoftYaHei-Bold;
  color: #111111;
  line-height: 45px;
  padding-top: 12px;
  padding-left: 30%;
}
.wrap hr{
  height: 1px;
  color: rgba(13, 20, 36, 0.1); 
  margin: 0 40px;
  border: none;
  border-bottom: 1px solid rgba(13, 20, 36, 0.1);
}
.create_team_cont{
  padding-left: 30%;
  padding-bottom: 13px;
}
:global(.ie9) .create_team_cont{
  padding-bottom: 33px;
}

.item{
  margin-top: 24px;
}
.item label{
  font-size:14px;
  font-family:PingFangSC-Regular;
  line-height: 32px;
  width: 100px;
  text-align: right;
}
:global(.ie9) .item label{
  float: left;
}
.item label span{
  color: #C4141B;
  vertical-align: middle;
}
.item input{
  width:338px;
  background:rgba(255,255,255,1);
  border-radius: 3px ; 
}

.name_error{
  color: red;
  margin-left: 100px;
  margin-top: 5px;
}

.upload label{
  line-height: 64px;
}

.footer_hr{
  margin-top: 20px;
}

.footer{
  margin-top: 32px;
  padding-left: 30%;
  padding-bottom: 64px;
  position: relative;
}
.footer > div{
  margin-left: 100px;
  position: relative;
  min-height: 32px;
}

.footer button{
  width:338px;
  height: 32px;
}

/*新增的requestloading*/
.process_loading_content {
  position: absolute;
  top: 0;
  left: 0;;
  /* opacity: 0; */
}
.process_loading_content :global(.iconfont){
  position: absolute;
  top:0;
  right: 10px;
  line-height: 32px;
  color:#fff;
}
.process_loading{
  width: 338px;
  height: 32px;
  background-color: rgba(223,226,227,1);
  border-radius: 3px;
  position: relative;
  box-shadow: none;
}

.opacityShow{
  opacity: 1!important;
}
.opacityHidden{
  opacity: 0!important;
}
.loading_desc{
  font-size:14px;
  font-family:MicrosoftYaHei;
  color:rgba(110,110,119,1);
  line-height:16px;
  position: absolute;
  left: 0;
  top: 40px;
}