.bg {}

.bg_wrap {
	background: #fff;
	border-radius: 3px;
}

.wrap {
	padding: 27px 80px;
}

.clearfix:after {
	content: "";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

.tabContent, .tabContent .tabPane1 {
	/* overflow: hidden; */
}

.tabContent {
	display: inline-block;
	width: 100%;
}

.tabContent :global(.u-tabs-tab.u-tabs-tab-active) {
	color: #E14C46;
}

.tabContent :global(.u-tabs) {
	border-bottom: none;
	overflow: hidden;
	padding-top: 12px;
}

.tabContent :global(.u-tabs-tab) {
	padding: 8px 0;
	margin: 0 20px;
	font-size: 14px;
}

.tabContent :global(.u-tabs-tab):hover {
	color: #E14C46;
}

.tabContent :global(.u-tabs-ink-bar) {
	height: 6px;
	background: #E14C46;
	border-radius: 3px;
}

.tabContent :global(.u-tabs-nav-wrap) {
	width: 100%;
}

.tabContent :global(.u-select-arrow) {
	font-size: 14px;
	color: #E14C46;
}

.tabContent :global(.u-tabs-nav-container>span ) {
	display: none;
}

/*定义滚动条宽高*/

.tabPane1::-webkit-scrollbar {
	width: 8px;
}

/*定义滑块，内阴影及圆角*/

.tabPane1::-webkit-scrollbar-thumb {
	border-radius: 8px;
	background-color: #757575;
}

.recently li:hover {
	background: #f3f3f3;
}

.nodataClass {
	text-align: center;
	margin-top: 100px;
}
