.item {
    width: 100%;
    box-sizing: border-box;
    overflow: hidden;
}

.WidgetTitle {
    height: 50px;
    line-height: 26px;
    color: #111111;
    display: -webkit-box;
    justify-content: center;
    align-items: center;
    margin-top: 16px;
    font-size: 15px;
    cursor: pointer;
    padding-left: 10px;
    padding-top: 8px;
}

.WidgetTitle :global(.diworkiconfont) {
    position: relative;
    top: 4px;
}

.WidgetTitle>div:first-child {
    -webkit-box-flex: 1;
    text-align: left;
    padding-left: 10px;
}

.edit_cont {
    display: -webkit-box;
}

.form_control {
    -webkit-box-flex: 1;
    width: 200px;
}

.save_btn {
    -webkit-box-flex: 1;
    width: 60px;
    margin: 0 10px 0 20px;
}

.close_btn {
    -webkit-box-flex: 1;
    width: 60px;
}

.WidgetList {
    list-style: none;
    overflow: hidden;
    padding-left: 10px;
    margin-top: -10px;
    margin-left: -10px;
}

.WidgetList li {
    /* transition: all .3s; */
}

.WidgetList li:hover {
    cursor: pointer;
    /* box-shadow: 0 6px 8px rgba(74,81,93,0.25); */
    -webkit-box-shadow: rgba(74, 81, 93, 0.7) 0px 1px 10px;
    -moz-box-shadow: rgba(74, 81, 93, 0.7) 0px 1px 10px;
    box-shadow: rgba(74, 81, 93, 0.7) 0px 1px 10px;
    /* -webkit-box-shadow:rgba(74,81,93,1)  0px 1px 20px; 
    -moz-box-shadow: rgba(74,81,93,1)  0px 1px 20px; 
    box-shadow:rgba(74,81,93,1)  0px 1px 20px; */
    border-radius: 3px;
}