.help {
    width: 32px;
    height: 32px;
    line-height: 32px;
    margin-right: 15px;
    position: relative;
    cursor: pointer;
    text-align: center;
}

.help div{
	position: absolute;
	width: 6px;
	height: 6px;
	border-radius: 50% 50%;
	right: 6px;
	top: 6px;
	background: #e14c46;
}
