:global(.team_exit_modal .u-modal-dialog){
  width: 440px !important;
}
.content{
  
}

.select_enter{
  /* position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);  */

  /* height: 32px; */
  line-height: 32px;
}
.select_enter>span{
  margin-right: 10px;
  /* float: left; */
}
.select_enter :global(.home_title){
  width:189px !important;
}
 
.select_enter :global(.open_item){
  max-height: 300px;
}

.select_enter_close :global(.close){
  display: none;
}
.select_enter>div{
  margin-top: 15px;
} 